<h1>部屋一覧</h1>

  <table>
      <thead>
        <tr>
          <th>ルーム名</th>
          <th>ルーム情報</th>
          <th>料金</th>
          <th>都道府県</th>
          <th>住所</th>
          <th>画像</th>
        </tr>
      </thead>
 
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.room_name %></td>
            <td><%= room.introduction %></td>
            <td><%= room.room_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
    <p><%= link_to "ルーム情報新規登録", :new_room %></p>