
li{
  list-style: none;
}
img {
    vertical-align: middle;
    border-style: none;
}

body{
  margin:0px;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #000000;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

/*トップページ*/
.top .top-main {
    background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
    background-size: cover;
    height: 650px;
}
.top .section-title {
    font-size: 24px;
    margin: 35px 0;
    font-weight: bold;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.top span {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
.top .panel-image {
    height: 360px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 25px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.top .form-area {
    background: #fff;
    padding: 24px;
    border-radius: 5px;
}
.top .form-area-title {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1px;
}
label {
    display: block;
}
.header-left-nav form {
    display: inline-block;
}
.header-left-nav .form-control {
    width: 180px;
    display: inline-block;
    position: relative;
    border-radius: 2px;    
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}
.header-left-nav {
    float: left;
}

/*ナビメニュー*/
.header-nav-menu {
    background-color: #fff;
    border: 3px solid #F6F8F9;
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 15px;
    z-index: 1000;
}
.header-nav-menu li {
    line-height: 30px;
    font-size: 16px;
    padding: 3px 5px;
}